* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.container {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1;
    grid-template-rows: repeat(6, 1fr);
    row-gap: 20px;
    margin: 5px;
    /*background-color: black;*/
    padding: 50px;
}



#display {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 7em;
    background-color: rgb(188, 216, 188);
    height: 100%;
    width: auto;
    color: rgb(73, 73, 73);
    padding-right: 5px;
}
.row {
    display: grid;
    column-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
}

.row:first-child > :nth-child(-n+3) {
    background-color: rgb(226, 226, 226);
    color: black;
}

.row > :last-child {
    background-color: rgb(255, 196, 0);
}

.row:last-child {
    grid-template-columns: 50% 25% 25%;
    column-gap: 5px;
}

.calc-button {
    height: 200px;
    width: 200px;
    background-color: rgb(73, 73, 73);
    border-radius: 100px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    cursor: pointer;
}

.row:last-child .calc-button:first-child {
    width: 400px;
    justify-content: flex-start;
    padding-left: 20%;
}

@media screen and (max-width: 900px) {
    .container {
        padding: 10px;
        margin: 1px;
        row-gap: 5px;
    }
    #display {
        font-size: 5em;
    }
    .row {
        column-gap: 5px;
    }
    .calc-button {
        height: 100px;
        width: 100px;
        border-radius: 50px;
        font-size: 2em;
    }
    .row:last-child .calc-button:first-child {
        width: 200px;
    }
}
@media screen and (max-width: 500px) {
    .container {
        padding: 3px;
        margin: 1px;
        row-gap: 1px;
        grid-template-rows: repeat(6, 80px);
    }
    #display {
        font-size: 5em;
    }
    .row {
        column-gap: 1px;
    }
    .calc-button {
        height: 60px;
        width: 60px;
        border-radius: 30px;
        font-size: 1.5em;
    }
    .row:last-child .calc-button:first-child {
        width: 130px;
        
    }
}